:root {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;

  /* Fondos */
  --background-color: #faf9f7;
  --surface-color: #ffffff;
  --surface-alt-color: #f3f0eb;

  /* Texto */
  --text-color: #292725;
  --text-secondary-color: #716d68;
  --text-muted-color: #a29d96;

  /* Marca */
  --primary-color: #c8a98a;
  --primary-dark-color: #a8896b;
  --primary-light-color: #e8d9c9;
    --button-text-color: #ffffff;


  /* Bordes */
  --border-color: #e5e0da;

  /* Estados */
  --success-color: #8fa58a;
  --error-color: #c98c87;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
p {
  font-weight: 400;
}

button {
  font-family: inherit;
  font-weight: 500;
}

section{
    margin-bottom: 20px;
}